<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" id="banner-title" href="/">
                <img src="https://images.pexels.com/photos/985341/pexels-photo-985341.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Logo" width="30" height="24" class="banner d-inline-block align-text-top">
                Kit Collective
            </a>
            <i id="banner-slogan">Unwind Together, Create Forever</i>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/about">About</a>
              <a class="nav-link" href="/shop">Shop</a>
              <a class="nav-link" href="/contact">Contact</a>
            </div>
          </div>
        </div>
      </nav>

</header>
